.venv
.venv
.tools

*.log
backend_startup.log
backend.log
jugadors.json
jugadors_con_fotos.json
login.json

# Añadir al .gitignore
football-manager-api/target/
football-manager-api/data/*.db
football-manager-api/data/*.trace.db
compile_errors.txt
football-manager-api/target/classes/data/
